---

- name: "configuration play."
  hosts: web
  user: ubuntu
  gather_facts: false
  vars:
    - ansible_python_interpreter: /usr/bin/python3
    - ansible_host_key_checking: false
    - ansible_stdout_callback: yaml

  pre_tasks:
    - name: "wait 30 seconds for target connection to become reachable/usable."
      # Your code here
      wait_for:
        timeout: 3
      delegate_to: localhost

    - name: "install python for Ansible."
      # Your code here
      shell: test -e /usr/bin/python3 || (apt -y update && apt install -y python3)
      changed_when: false



  roles:
    # Your code here
    - configure-server
